$red:rgb(230, 36, 36);
$blue: rgb(114, 114, 231);

.bigBox{
    position: relative;
    top:100px;
    left:100px;
    background-color: $blue;
    border:10px solid rgb(103, 212, 103); 
    text-align: center;
    width: 100px;
    .box{
        border:10px solid $red;
    }
}











// body{ background: #edf1e76e; margin: 0; }
// a{ color: inherit; text-decoration: none;}
// *{ margin: 0; padding: 0; }
// hr{ height: 0; border: none; border-top: 1px solid #dedede; }
// ul,ol{ list-style: none; }
// h1,h2,h3,h4,h5,h6{ font-weight: normal; }

// .clearfix::after{ content: ''; display: block; clear: both; }

// [data-x].offset{
//     transform: translateY(100px);
// }
// [data-x]{
//     transform: translateY(0);
//     transition: all 0.5s;
// }

// /* @keyframes slideUp{                      功能暂时用不上了；
//     0%{
//         transform: translateY(-80px);
//     }
//     100%{
//         transform: translateY(0);
//     }
// } */

// .topNavBar{ position: fixed; top: 0; left: 0; width: 100%; transition: all 1s; padding: 20px 0px; color: #b7b7b7; }
// .topNavBar.sticky{background: white; padding: 10px 0px; z-index: 1; box-shadow: 0 0 10px grey; color: #3d4451 }
// .topNavBar-inner{ padding: 0px 16px; }

// .topNavBar nav { padding-top: 5px; }
// .topNavBar nav > ul { list-style:none;  margin: 0;  padding: 0; }
// .topNavBar nav > ul > li { float: left;  margin-left: 17px; margin-right: 17px; position: relative; }
// .topNavBar nav > ul > li >a {
//     font-size: 14.5px;
//     color: inherit;
//     font-weight: bold; 

//     border-top: 3px solid transparent;
//     border-bottom: 3px solid transparent;
//     padding-top: 5px;
//     padding-bottom: 5px;

//     display: block;

//     position: relative;
// }

// .topNavBar nav > ul > li.active > a::after, 
// .topNavBar nav > ul > li.highlight > a::after {

//     content: '';
//     display: block;
//     position: absolute;
//     top:  100%;
//     left: 0;
//     width: 100%;
//     background:  #ec7730;
//     height: 3px;  
//     animation: menuSlide 0.3s;
// }

// @keyframes menuSlide{            /* 为<a>底部之前hover效果的出现动画  */
//     0%{ width: 0%; }
//     100%{ width: 100%; }
// }

// .topNavBar .submenu{            /* 子菜单样式 */
//     display: none;
//     position: absolute;
//     right: 0;
//     top: 100%;
//     background: white;
//     color:#3d4451;
//     box-shadow: 0 0 5px rgba(0,0,0,0.5);
// }

// .topNavBar li.active >.submenu{ display: block; animation: submenuSlide 0.3s; }

// @keyframes submenuSlide{         /* 子菜单的动画效果，margin-right是以父元素的宽度为标准 */
//     0%{ margin-right: 100%; }
//     100%{ margin-right: 0%; }
// }

// .icon { width: 1em; height: 1em; vertical-align: -0.15em; fill: currentColor; overflow: hidden; }

// .topNavBar .submenu > li{
//     white-space: nowrap;     /* 不分行 */
//     padding: 5px 10px;
// }


// .topNavBar .logo{ font-size: 24px; font-family: "Arial Black"; padding-top: 3px; padding-bottom: 4px; }
// .topNavBar .logo .rs{ margin-right: 4px; color: #ec7730; }
// .topNavBar .logo .card{ color: #969696; }
// .banner{ height: 515px; background-image: url(./img/1.png); background-size: cover; }
// .banner .mask{ height: 515px; /* background-color: rgba(0, 0, 0, 0.123); */ }
// .userCard{
//     max-width: 940px;
//     margin-left: auto;
//     margin-right: auto;
//     background-color: #ffffff;
//     box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.171);
// }

// .userCard .welcome{
//     background: #ec7730;
//     color: white;
//     display: inline-block;
//     padding: 4px 16px;
//     line-height: 22px;
//     position: relative;
//     margin-bottom: 10px;
//     /* width: 70px; */
//     /* height: 29px; */
//     /* line-height: 29px; */
//     /* text-align: center; (尽量不用宽高）*/
// }

// .userCard .welcome .triangle{
//     display: block;
//     border: 10px solid transparent;
//     width: 0px;
//     height: 0px;
//     border-left-color: #ec7730;
//     border-top-width: 0px;
//     position: absolute;
//     top: 100%;
//     left: 10%;
// }

// .userCard .picture{ float: left; }
// .userCard .text{ float: left; padding-left: 65px; width: 470px; }
// .userCard .text h1{ margin-top: 18px; }
// .userCard .text hr{ margin: 20px 0; }
// .userCard .pictureAndText{ padding: 50px; }

// .userCard .text dl dt,
// .userCard .text dl dd{ float: left; width: 50%; padding: 5px 0; }

// .userCard .text dl dt{ width: 30%; font-weight: bold; }
// .userCard .text dl dd{ width: 70%; color: #9da0a7; }
// .userCard > footer.media{ background: #ec7730; text-align: center; }
// .userCard > footer.media > a {
//     display: inline-block;
//     width: 40px;
//     line-height: 30px;
//     padding: 5px 0;
//     border-radius: 50%;
//     margin: 16px 16px;
// }

// .userCard > footer.media > a:hover{ background: #ec7730; }
// .userCard svg{ width: 30px; height: 30px; fill: white; vertical-align: top; }

// body > main{ margin-top: -340px; }
// body > main .downloadResume-wrapper{ text-align: center }
// body > main .downloadResume{
//     font-size: 18px;
//     line-height: 16px;
//     padding: 21px 55px;
//     display: inline-block;
//     border: 1px solid #c3c3c3;
//     background: #ffffff;
//     border-radius: 4px;
//     color: #3d4451;
//     font-weight: bold;
//     margin: 32px 0;
//     transition: box-shadow 0.3s;
// }

// body > main .downloadResume:hover{ box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.3); }

// .selfIntroduction{
//     max-width: 940px;
//     margin-left: auto;
//     margin-right: auto;
//     text-align: center;
//     font-family: kaiti;     
//     line-height: 1.8;
//     font-size: 18px;
// }

// section.skills,
// section.portfolio{ max-width: 930px; margin-left: auto; margin-right: auto; margin-top: 60px; }
// section.skills h2,
// section.message h2,
// section.portfolio h2{ text-align: center; color: #3d4451; font-size: 34px; line-height: 1.2; font-weight: 600; margin-bottom: 50px; }
// section.skills h3{ font-size: 14px; line-height: 1.1; padding-right: 40px; }
// section.skills > ol{ background: white; box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.171); padding: 42px 50px 10px 50px; margin-top: 30px; }
// section.skills > ol > li{
//     float: left;
//     width: 48%;
//     /* width: 50%; */
//     box-sizing: border-box;
//     /* padding-right: 25px; */
//     /* width: 42%; */
//     /* margin-right: 4%; */
//     /* margin-left: 4%; */
// }

// section.skills > ol > li:nth-child(even){ float: right; }
// section.skills .progressBar{ height: 3px; background: #ee77302b; border-radius: 2px; margin:4px 0 40px 0; overflow: hidden;}
// section.skills .progressBar > .progress{ height: 100%; width: 0; background: #ec7730; border-radius: 2px; transform: translateX(0); transition: all 1s;}
// section.skills.offset .progress{
//     transform: translate(-100%);
// }

// section.portfolio{ text-align: center; margin-bottom: 100px; max-width: 900px; }
// section.portfolio .swiper-container { height: 501px; width: 668px; }
// section.portfolio .swiper-slide{ background: white; }
// section.portfolio .swiper-button-prev,
// section.portfolio .swiper-button-next{ width: 64px; height: 64px; border-radius: 50%; }

// section.message > ol{
//     max-width: 700px;
//     margin: 0 auto;
//     border-top:1px solid #ececec;
// }
// section.message > ol >  li{
//     padding: 16px;
//     border-bottom:1px solid #ddd;
// }